<h1>Sign Up</h1>

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
	<div class = 'error messages'>
		<h2>Form is invalid</h2>
		<ul>
			<% for message in @user.errors.full_messages %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
	</p>	
	<p>
		<select class="request_action" name ="role">
	 		<option class='option' value='user' selected ='selected'>User</option>
	 		<option class='option' value='postcrew'>Post Crew</option>
		 	<option class='option' value='manager'>Manager</option>	 		
			<option class='option' value='approver'>Approver</option>
		</select>
	</p>
	<p class = 'button'><%= f.submit "Create Log In"%></p>
<% end %>

