<h1>Hello <%= current_user.email%>. </h1> 
<h2>As a <%= current_user.role %> you can see these <%= @requests.length %> requests: </h2>

<table class="requests">
  <tr>
	<th>ACTIONS</th>
    <th>ID</th>
    <th>REQUESTED BY</th>
    <th>PROJECT</th>
    <th>VERSION</th>
	<th>RUN TIME</th>
  </tr>
  <% @requests.each do |request| %>
  <tr>		
	<% @buttons.each do |b|%>
		<%= form_tag({:controller =>"requests", :action => "process_request"}, :method =>"post") do %>
			<td><input name= "commit" type="submit" value=<%= b.capitalize %> </td>
		<% end %>
	<% end %>
    <td><%= request.id %></td>
	<td><%= request.user.email %></td>
	<td><%= request.asset.project.name %></td>	
	<td><%= request.asset.version_name %></td>
	<td><%= request.asset.running_time.strftime("%X")  %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
    <td><%= button_to 'Destroy', delete_request_path(request),:confirm => 'Are you sure?', :method => :delete%></td>
<!--	<td><%= button_to 'REQUEST SCREENER', new_request_path(:request_id => request) %></td> -->
  </tr>
  <% end %>

</table>