<h1>Hello <%= current_user.email%>. </h1> 
<h2>As a <%= current_user.role %> you can see these <%= @requests.length %> requests: </h2>

<table class="requests">
  <tr>
    <th>REQUESTED BY</th>
	<th>REQUIRED BY</th>
    <th>PROJECT</th>
    <th>VERSION</th>
	<th>STATUS</th>
	<th></th>
	<th></th>
  </tr>

  <% @requests.each do |request| %>
  <tr>	
	<td><%= request.user.email %></td>
	<td><%= request.required_date.strftime('%m/%d/%Y') %></td>
	<td><%= request.asset.project.name %></td>	
	<td><%= request.asset.version_name %></td>
	<td><%= request.status %></td>
	<td><%= link_to 'SHOW', request %></td>
    <td><%= button_to 'EDIT REQUEST', edit_request_path(request) if request.status != 'fulfilled' && request.user_id == current_user.id %></td>
  </tr>

	<% @buttons.each do |b|%>
	<td>
	<%= button_to b.capitalize, {:action => b, :controller => :requests, :request_id =>request.id, :method => :post} %> 
	</td>
	<% end %>

  <% end %>

</table>



