<h1>Hello <%= current_user.email%>. As a <%= current_user.role %> you can see these requests:ß </h1>
<table>
		<% for req in  @requests.each do  %>
				<tr>
					<td>
					<select class="request_action">
				 		<%= raw '<option class="option" value="edit"    selected="selected"> Edit   </option>'if current_user.role == 'user' %>
						<%= "<option class='option' value='approve'  selected='selected'> Approve</option>".html_safe if current_user.role == 'approver' %>
						<%= "<option class='option' value='reject'                      > Reject </option>".html_safe if current_user.role == 'approver' %>			
						<%= "<option class='option' value='fulfill'                     > Fulfill</option>".html_safe  if current_user.role == 'manager'%>
					</select>
					</td>
					<td><%= req.status =%><td>
					<td><%= req.asset.version_name %></td>
					<td><%= req.id %></td>
					</tr>
		<% end %>
</table>
