<h1>Hello <%= current_user.email%>. As a <%= current_user.role %> you can see these <%= @requests.length %> requests: </h1>
<table>
		<% for req in  @requests do  %>
				<tr>
					<% @buttons.each do |b|%>
						<%= form_tag({:controller =>"requests", :action => "process_request"}, :method =>"post") do %>
						<td><input name= "commit" type="submit" value=<%= b.capitalize %> </td>
				 		<% end %>
					<% end %>	
				
<!--					<td>
						
					<select class="request_action">
				 		<%= '<option class="option" value="edit"    selected="selected"> Edit   </option>'if current_user.role == 'user' %>
						<%= "<option class='option' value='approve'  selected='selected'> Approve</option>".html_safe if current_user.role == 'approver' %>
						<%= "<option class='option' value='reject'                      > Reject </option>".html_safe if current_user.role == 'approver' %>			
						<%= "<option class='option' value='fulfill'                     > Fulfill</option>".html_safe  if current_user.role == 'manager'%>
					</select>
					-->
					</td>
					<td><%= req.asset.project.name =%><td>
					<td><%= req.asset.version_name =%><td>
					<td><%= req.status %></td>
					
					<td><%= req.delivery_method %></td>
					<td><%= req.required_date %></td>

				

					</tr>
		<% end %>
</table>

