<h1>This is a test to see how to show a <em> same only different</em> page</h1>
<h1> for different roles </h1>

<h1> The current user is a <%= @user.role %> </h1>

<p> This should eventually become the index page (I think) </p>
</b>
</b>


<% if @user.role != 'guest' %>
<table>
	
		<% for req in  @requests.each do  %>

				<tr>
					<td>
					<select class="request_action">
				 		<option class='option' value='edit' selected ='selected'>edit</option>
						<%= "<option class='option' value='approve'> approve </option>" if @user.role == 'approver' %>
						<%= "<option class='option' value='fulfill' > fulfill </option>" if @user.role == 'manager' %>
						<option class='option' value='destroy' > destroy </option>
					</select>
					</td>
					<td><%= req.request_status =%><td>
					<td><%= req.asset %></td>
					<td><%= req.request_id %></td>
					</tr>
					<% end %>
</table>

<% end %>


