
<h3>PLEASE MAKE YOUR SCREENER REQUEST:</h3>

<table class="assets">
  <tr>
    <th>PROJECT</th>
    <th>VERSION</th>
	<th>DESCRIPTION</th>
    <th>RUN TIME</th>
  </tr>
  <% @assets.each do |asset| %>
  <tr>
	<td><%= link_to asset.project.name.upcase, asset %></td>
	<td><%= asset.version_name %></td>
	<td><%= asset.cut_description %></td>
    <td><%= asset.running_time.strftime("%X") %></td>
    <td><%= button_to 'UPDATE ASSET', edit_asset_path(asset) if current_user.role == 'manager' %></td>
	<td><%= button_to 'REQUEST SCREENER', new_request_path(:asset_id => asset) %></td>
  </tr>
  <% end %>
</table>


