<<<<<<< HEAD

<ul>	
	<%= asset.project.name %>
	<%= asset.version_name %>
	<%= asset.running_time %>
=======
<li class='asset_list'>
	<span><%= asset.project.name %></span>
	<span><%= asset.version_name %></span>
	<span><%= asset.running_time %></span>
>>>>>>> 93f3a9cee7b874b986229fe995b888de1b6215a1
	<%= link_to "Update", edit_asset_path(asset) %>
	<div class="clear"></div>
</li>
