<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "SCREENER TRACK | #{yield(:title)}" : "SCREENER TRACK" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<script type="text/javascript">
$(document).ready(function() {
	//Set default open/close settings
	$('.answer').hide(); //Hide/close all containers
	//On Click
	$('.question').click(function(){
		if( $(this).next().is(':hidden') ) { //If immediate next container is closed...
			$('.question').removeClass('active').next().slideUp(); //Remove all "active" state and slide up the immediate next container
			$(this).toggleClass('active').next().slideDown(); //Add "active" state to clicked trigger and slide down the immediate next container
		}
		else{
				$('.question').removeClass('active').next().slideUp();
		}
		return false; //Prevent the browser jump to the link anchor
	});

});
</script>
</head>


<body>
	<div id="container">
	<%= render '/layouts/header'%>

	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	<%= content_tag :h2, yield(:title) if show_title? %>
	
	<%= yield %>

	<%= render '/layouts/footer'%>
	
	<%= debug(params) if Rails.env.development? %>
	
	</div>
</body>
</html>
